<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EjemplosJEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>acceso.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Primer acercamiento</description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>servlets.Clase1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Busqueda de Empleados JDBC</description>
    <display-name>Empleados</display-name>
    <servlet-name>Empleados</servlet-name>
    <servlet-class>servlets.EmpleadoServlet</servlet-class>
    <init-param>
      <param-name>aleluya</param-name>
      <param-value>500</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Empleados</servlet-name>
    <url-pattern>/Empleados</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Busqueda de Empleados Hibernate</description>
    <display-name>EmpleadHiber</display-name>
    <servlet-name>EmpleadHiber</servlet-name>
    <servlet-class>servlets.EmpleadoHibernate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpleadHiber</servlet-name>
    <url-pattern>/EmpleadHiber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de autentificación</description>
    <display-name>autentificacion</display-name>
    <servlet-name>autentificacion</servlet-name>
    <servlet-class>servlets.ServletAutentificacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>autentificacion</servlet-name>
    <url-pattern>/autentificacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de sesión</description>
    <display-name>sesion</display-name>
    <servlet-name>sesion</servlet-name>
    <servlet-class>servlets.ServletSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sesion</servlet-name>
    <url-pattern>/sesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet para mostrar las sesiones activas</description>
    <display-name>SesionesActivas</display-name>
    <servlet-name>SesionesActivas</servlet-name>
    <servlet-class>servlets.ServletMostrarSesionesActivas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SesionesActivas</servlet-name>
    <url-pattern>/SesionesActivas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet para mostrar departamentos</description>
    <display-name>departamentos</display-name>
    <servlet-name>departamentos</servlet-name>
    <servlet-class>servlets.ServletListadoDepartamentos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>departamentos</servlet-name>
    <url-pattern>/departamentos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet que cierra la sesión activa</description>
    <display-name>cerrarsesion</display-name>
    <servlet-name>cerrarsesion</servlet-name>
    <servlet-class>servlets.ServletCerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cerrarsesion</servlet-name>
    <url-pattern>/cerrarsesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de las matriculas</description>
    <display-name>matricula</display-name>
    <servlet-name>matricula</servlet-name>
    <servlet-class>servlets.ServletMatriculas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>matricula</servlet-name>
    <url-pattern>/matricula</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de la cookie diaria 3 usos</description>
    <display-name>cookie3usos</display-name>
    <servlet-name>cookie3usos</servlet-name>
    <servlet-class>cookies.CookieServicio3Veces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookie3usos</servlet-name>
    <url-pattern>/cookie3usos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet para manejar errores/excepciones</description>
    <display-name>error</display-name>
    <servlet-name>error</servlet-name>
    <servlet-class>servlets.ServlertCapturaErrores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet que da la hora</description>
    <display-name>hora</display-name>
    <servlet-name>hora</servlet-name>
    <servlet-class>servlets.ServlerHora</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hora</servlet-name>
    <url-pattern>/hora</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de empleadoMVC</description>
    <display-name>empleadoMVC</display-name>
    <servlet-name>empleadoMVC</servlet-name>
    <servlet-class>servlets.EmpleadoMVC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empleadoMVC</servlet-name>
    <url-pattern>/empleadoMVC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Listado Empleados MVC</description>
    <display-name>empleadosMVC</display-name>
    <servlet-name>empleadosMVC</servlet-name>
    <servlet-class>servlets.ServletEmpleadosDepartamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empleadosMVC</servlet-name>
    <url-pattern>/empleadosMVC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>auxiliar.UploadFileExample</servlet-class>
    <init-param>
      <param-name>RUTA_SUBIDA_FICHEROS</param-name>
      <param-value>C:\Users\alumno\Documents\TehureProject\upload</param-value>
    </init-param>
    <multipart-config>
      <max-file-size>3145728</max-file-size>
      <max-request-size>5242880</max-request-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploads</servlet-name>
    <servlet-class>auxiliar.UploadMultiFile</servlet-class>
    <init-param>
      <param-name>RUTA_SUBIDA_FICHEROS</param-name>
      <param-value>/home/inakiap/workspace-luna/upload</param-value>
    </init-param>
    <multipart-config>
      <max-file-size>3145728</max-file-size>
      <max-request-size>5242880</max-request-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploads</servlet-name>
    <url-pattern>/uploads</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>listeners.EscuchaContexto</listener-class>
  </listener>
  <listener>
    <listener-class>listeners.EscuchaPeticion</listener-class>
  </listener>
  <listener>
    <listener-class>listeners.EscuchaSesion</listener-class>
  </listener>
  <filter>
    <filter-name>FiltroEjemplo</filter-name>
    <filter-class>filtros.EjemploFiltros</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroEjemplo</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FiltroJDBC</filter-name>
    <filter-class>filtros.FiltroJDBC</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroJDBC</filter-name>
    <url-pattern>/Empleados</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FilterHibernate</filter-name>
    <filter-class>filtros.FilterHibernate</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterHibernate</filter-name>
    <url-pattern>/EmpleadHiber</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>Hora</param-name>
    <param-value>20</param-value>
  </context-param>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/error</location>
  </error-page>
  <error-page>
    <exception-type> javax.servlet.ServletException </exception-type>
    <location>/error</location>
  </error-page>
  <error-page>
    <exception-type> java.lang.Throwable </exception-type>
    <location>/error</location>
  </error-page>
</web-app>