<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
        <!-- <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">tehure</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="hibernate.connection.username">HR</property>
        <property name="hibernate.default_schema">HR</property> 
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>-->
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="show_sql">false</property>
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/pool</property>
        

        <!-- Mapping files -->
        <mapping resource="dominio/Countries.hbm.xml"/>
        <mapping resource="dominio/Departments.hbm.xml"/>
        <mapping resource="dominio/EmpDetailsView.hbm.xml"/>
        <mapping resource="dominio/Employees.hbm.xml"/>
        <mapping resource="dominio/JobHistory.hbm.xml"/>
        <mapping resource="dominio/Jobs.hbm.xml"/>
        <mapping resource="dominio/Locations.hbm.xml"/>
        <mapping resource="dominio/Regions.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
